.outlet {
    /* height: calc(100% - 200px); */
    height: 100%;
}

.header-logo {
    height: 50px;
}

.footer-logo {
    height: 100px;
}

.menu-active-top {
    height: 2px;
    /* background-color: rgba(212, 212, 52, 1); */
    background-color: #afeb34;
    margin-right: 50%;
}
.menu-active-bottom {
    height: 2px;
    /* background-color: rgba(212, 212, 52, 1); */
    background-color: #afeb34;
    margin-left: 50%;
}

.contact-form-input {
    margin-top: 50px;
}
