.outlet {
    /* height: calc(100% - 200px); */
    height: 100%;
}

.header-logo {
    height: 50px;
}

.footer-logo {
    height: 100px;
}

.menu-active-top {
    height: 2px;
    /* background-color: rgba(212, 212, 52, 1); */
    background-color: #afeb34;
    margin-right: 50%;
}
.menu-active-bottom {
    height: 2px;
    /* background-color: rgba(212, 212, 52, 1); */
    background-color: #afeb34;
    margin-left: 50%;
}

.contact-form-input {
    margin-top: 50px;
}

.carousel-root {
    height: 100%;
}

.carousel-slider {
    display: flex;
    min-height: 100%;
}

.slider-wrapper {
    display: contents;
}

.teambgm {
    background-image: url(../assets/images/OfficeBackgroundBlurred.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}