body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'muli-light', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "muli-light";
  src: local("muli-light"),
    url("./assets/fonts/muli.light.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "ocrastd";
  src: local("ocrastd"),
    url("./assets/fonts/OCRA-Regular.ttf") format("truetype");
  font-weight: bold;
}

/* Muli */
@font-face {
  font-family: "muli";
  src: local("muli"),
    url("./assets/fonts/Muli.ttf") format("truetype");
  font-weight: bold;
}
/* Italic */
@font-face {
  font-family: "muli-italic";
  src: local("muli-italic"),
    url("./assets/fonts/Muli-Italic.ttf") format("truetype");
  font-weight: bold;
}
/* Bold */
@font-face {
  font-family: "muli-bold";
  src: local("muli-bold"),
    url("./assets/fonts/Muli-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "muli-bolditalic";
  src: local("muli-bolditalic"),
    url("./assets/fonts/Muli-BoldItalic.ttf") format("truetype");
  font-weight: bold;
}
/* Extra Light */
@font-face {
  font-family: "muli-extralight";
  src: local("muli-extralight"),
    url("./assets/fonts/Muli-ExtraLight.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "muli-extralightitalic";
  src: local("muli-extralightitalic"),
    url("./assets/fonts/Muli-ExtraLightItalic.ttf") format("truetype");
  font-weight: bold;
}
/* Light */
@font-face {
  font-family: "muli-light";
  src: local("muli-light"),
    url("./assets/fonts/Muli-Light.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "muli-lightitalic";
  src: local("muli-lightitalic"),
    url("./assets/fonts/Muli-Light-Italic.ttf") format("truetype");
  font-weight: bold;
}
/* Semi Bold */
@font-face {
  font-family: "muli-semibold";
  src: local("muli-semibold"),
    url("./assets/fonts/Muli-SemiBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "muli-semibolditalic";
  src: local("muli-semibolditalic"),
    url("./assets/fonts/Muli-Semi-BoldItalic.ttf") format("truetype");
  font-weight: bold;
}